* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 2rem;
    margin-left: 2rem;
}

.flex {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.flex input,
.flex select {
    font-size: 1rem;
}

.output {
    padding-top: 1rem;
}

.btn {
    margin-top: 2rem;
    width: 100px;
    height: 40px;
    font-size: large;
}
